<table class="log">
  <thead>
    <tr>
      <td class="t">{{ t('col_time') }}</td>
      <td>{{ t('col_action') }}</td>
      <td>{{ t('col_mode') }}</td>
      <td class="r">{{ t('col_reason') }}</td>
      <td style="text-align:right;">{{ t('kpi_surplus') }}</td>
      <td style="text-align:right;">{{ t('threshold') }}</td>
    </tr>
  </thead>
  <tbody>
  {% for d in decisions %}
  <tr>
    <td class="t">{{ d.time | localtime }}</td>
    <td class="{{ 'on-t' if d.action == 'switched_on' else 'off-t' }}">{{ t('on') if d.action == 'switched_on' else t('off') }}</td>
    <td>{{ d.mode }}</td>
    <td class="r">{{ t('reason_' ~ d.reason, default=d.reason) }}</td>
    <td style="text-align:right;" class="{{ 'txt-dim' if d.surplus_w is none }}">
      {%- if d.surplus_w is not none -%}{{ d.surplus_w|round|int }} W{%- else -%}–{%- endif -%}
    </td>
    <td style="text-align:right;" class="{{ 'txt-dim' if d.threshold_w is none }}">
      {%- if d.threshold_w is not none -%}{{ d.threshold_w|round|int }} W{%- else -%}–{%- endif -%}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
